@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.mobile-container {
  box-shadow: 0 0 10px 2px #3333331a;
  overflow: hidden;
  border-radius: 3px;
  background-color: #fff;
  width: 400px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-family: inherit;
}

header button {
  color: #aaa;

  border: none;
  margin-left: 10px;
  background-color: transparent;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

.fav-container {
  background-color: rgb(248, 176, 255);
  text-align: center;
  padding: 0.25rem 1rem;
}

.fav-meals {
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  position: relative;
  margin: 5px;
  width: 75px;
}

.fav-meals li:hover .clear {
  opacity: 1;
}

.fav-meals li .clear {
  cursor: pointer;
  opacity: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 1.2rem;
}

.fav-meals li img {
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 50%;
  object-fit: cover;
  height: 70px;
  width: 70px;
}

.fav-meals li span {
  font-size: 0.9rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  margin: 1rem;
  overflow: hidden;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  border: none;
  font-size: 1.2rem;
  background-color: transparent;
  color: gray;
  cursor: pointer;
}

.meal-body .fav-btn.active {
  color: rebeccapurple;
}
