$blue: #228be6;
$gray: #495087;
$mycolor: #482135;

@mixin button-color($color) {
  background: $color;
  &:hover {
    background: lighten($color, 10%);
  }
  &:active {
    background: darken($color, 10%);
  }
  &.outline {
    color: $color;
    background: none;
    border: 1px solid $color;
    &:hover {
      background: $color;
      color: white;
    }
  }
}

.Button {
  display: inline-flex;
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  // 사이즈 관리
  &.large {
    // height: 3rem;
    font-size: 1.25rem;
  }

  &.medium {
    // height: 2.25rem;
    font-size: 1rem;
  }

  &.small {
    // height: 1.75rem;
    font-size: 0.875rem;
  }

  &.blue {
    @include button-color($blue);
  }

  &.gray {
    @include button-color($gray);
  }

  &.mycolor {
    @include button-color($mycolor);
  }

  & + & {
    margin-left: 1rem;
  }

  &.fullWidth {
    width: 100%;
    justify-content: center;
    & + & {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}
